/* @font-face {
  font-family: 'SB Sans Interface';
  src: url('../../public/fonts/SBSansUI-Light.woff'),
    url('../../public/fonts/SBSansUI-Light.woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'SB Sans Interface';
  src: url('../../public/fonts/SBSansUI-Bold.woff'),
    url('../../public/fonts/SBSansUI-Bold.woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'SB Sans Text';
  src: url('../../public/fonts/SBSansText-Light.woff'),
    url('../../public/fonts/SBSansText-Light.woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'SB Sans Text';
  src: url('../../public/fonts/SBSansText-Medium.woff'),
    url('../../public/fonts/SBSansText-Medium.woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'SB Sans Text';
  src: url('../../public/fonts/SBSansText-Semibold.woff'),
    url('../../public/fonts/SBSansText-Semibold.woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'SB Sans Text';
  src: url('../../public/fonts/SBSansTextMono-Bold.woff'),
    url('../../public/fonts/SBSansTextMono-Bold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'SB Sans Display';
  src: url('../../public/fonts/SBSansDisplay-SemiBold.woff'),
    url('../../public/fonts/SBSansDisplay-SemiBold.woff2');
  font-weight: 600;
} */
