.header {
  background-color: #f4716a;
  height: 60px;
}

.header-icon {
  color: #faebd7;
}

.menu-bars {
  font-size: 2rem;
  background: none;
}

.appTitle a {
  color: #faebd7;
}

.header,
.appTitle a:hover,
.header-icon:hover,
h1:hover {
  color: #3c6da5;
}
