* {
  box-sizing: border-box;
}

body {
  background-color: #212529;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  color: #faebd7;
  padding: 0 10px;
}
